body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.home{
    background: url(./images/Backgrounds/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    padding-bottom: 80px;  
}

.about{
    background-color: #FEF3EC;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    padding-bottom: 80px; 
}


.flex-content{
    display: flex;
    justify-content: center;
}

/* -----------Header Start -----------*/

header{
    padding: 20px 0px;
    background: transparent;
}

header p{
    line-height: 0;
    font-weight: 600;
    color: tomato;
    font-size: 22px;
    vertical-align: top;
}

header p:nth-child(3){
    line-height: 0;
    font-weight: 600;
    color: tomato;
    font-size: 22px;
    margin-top: 40px;
}

header img{
    width: 64px;
    margin: 0px 30px;
    border-radius: 50%;
    cursor: pointer;
}

/*------------- Header End -------------*/


.left-portion{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
}

.left-portion h1{
    font-size: 50px;
    text-transform: capitalize;
    color: rgb(90, 83, 83);
}

.colored-span{
    color: tomato;
}

.left-portion p{
    font-size: 25px;
    font-weight: 400;
    color: rgb(83, 67, 67);
}

.left-portion a{
    width: 105px;
    text-decoration: none;
    background: linear-gradient(45deg,orange, tomato);
    text-align: center;
    padding: 25px 35px;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-top: 40px;
    box-shadow: 0px 0px 8px #fc7014;
    transition: 0.4s;
}

.left-portion a:hover{
    box-shadow: 0px 0px 30px #fc7014;
}

.right-portion{
    width: 50%;
    display: flex;
    justify-content: center;
}

.right-portion img{
    width: 75%;
}


/*---------- Favourite Foods Start ---------*/

.Favourite-Foods{
    padding: 110px 0px 0px 0px;
    background-color: #FEF3EC;
    text-align: center;
}

.Favourite-Foods h1{
    font-size: 50px;
    text-transform: capitalize;
    color: rgb(90, 83, 83);
    margin-bottom: 100px;
}

.Foods div{
    margin: 0px 30px;
    background-color: white;
    width: 25%;
    border-radius: 45px;
    box-shadow: 0px 0px 20px #b9afaf;
}

.Foods div img{
    width: 90%;
    height: 300px;
    margin-top: 23px;
    border-radius: 30px
}

.Foods div h3{
    font-size: 35px;
    text-align: left;
    padding: 0px 25px;
}

.Foods div p{
    text-align: left;
    padding: 0px 25px 30px 25px;
    font-size: 22px;
    line-height: 45px;
}

/*--------- Favourite Foods End ----------*/


/* ----------Videos Start ---------*/

.videos{
    padding: 110px 0px 0px 0px;
    background-color: #FEF3EC;
    text-align: center;
}

.videos h1{
    font-size: 50px;
    text-transform: capitalize;
    color: rgb(90, 83, 83);
    margin-bottom: 100px;
}

.Video-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.Video-container iframe{
    width: 450px;
    height: 350px;
    resize: both;
    overflow: auto;
    margin: 0px 45px;
    border-radius: 20px;
}

/* --------- Videos End ----------*/



/* ------------Social reach Start ----------*/

.Social-reach{
    background-color: #FEF3EC;
    padding: 150px 0px;
}

.Social-Container{
    width: 80%;
    margin: auto;
    padding: 100px 0px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #dbd9d9;
}

.Social-Container h1{
    font-size: 50px;
    text-align: center;
    margin: 0px 150px;
}

.Social-Container h1 span{
    display: block;
    font-size: 18px;
    font-weight: 300;
}

/*------------ Social reach End -----------*/


/*------------ Footer Start -----------*/

Footer{
    background-color: rgb(73, 71, 71);
    padding: 50px 0px;
    text-align: center;
}

Footer h2{
    font-size: 40px;
    color: #cfbcbc;
}

Footer p{
    font-size: 19px;
    color: rgb(165, 163, 160);
}

/*------------ Footer End -----------*/